  *{
                margin:0;
                padding:0;
                
   }
           
			
			.search_tab{
			width:640px;
			height:480px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/main_page.png) no-repeat top left;																		background-size: contain;
			}
            .search_page{
			width:640px;
			height:400px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/search.png) no-repeat top left;
			background-size: contain;
			}
           .protein_search{
			width:700px;
			height:600px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			background:transparent url(images/protein_search.png) no-repeat top left;
			background-size: contain;
			}
			.cell_type_search{
			width:640px;
			height:380px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/cell_type_search.png) no-repeat top left;
			background-size: contain;
			}
			.organism_type_search{
			width:600px;
			height:400px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/organism_search.png) no-repeat top left;
			background-size: contain;
			}
			.method_type_search{
			width:400px;
			height:400px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/method.png) no-repeat top left;
			background-size: contain;
			}
			.year_type_search{
			width:600px;
			height:400px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/Advanced.png) no-repeat top left;
			background-size: contain;
			}
			.condition_type_search{
			width:400px;
			height:400px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/condition.png) no-repeat top left;
			background-size: contain;
			}
			.experimental_details_info{
			width:800px;
			height:360px;
			display: block;
			margin-left: auto;
			margin-right: auto;			
			background:transparent url(images/exp_list_original.png) no-repeat top left;
			background-size: contain;
			}




